@using OrderManagement.Web.Domain.Resources;
@model OrderManagement.Web.Domain.tblOrganizationDTO
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}
<div id="page-login" class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="text-right">
            @*<a href="page_login.html" class="txt-default">Already have an account?</a>*@
        </div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div class="box">
                <div class="box-content">
                    <div class="text-center">
                        <h3 class="page-header">Register</h3>
                    </div>
                    <div class="form-group">
                        @{ Html.RenderPartial("MessageRegionPartial", Model.ModelMessage); }
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="typeahead">@OrderManagementResource.lblOrganizationName</label>
                        @Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OrganizationName, null, new { @class = "help-block" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="typeahead">@OrderManagementResource.lblFirstName</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "help-block" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="typeahead">@OrderManagementResource.lblLastName</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "help-block" })
                    </div>
                    <div class="input-group">
                        <label class="control-label" for="typeahead">@OrderManagementResource.lblMobileNo</label>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">+91</span>
                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control" })
                    </div>
                    <div class="input-group">
                         @Html.ValidationMessageFor(m => m.MobileNo, null, new { @class = "help-block" })
                    </div>
                    @*<div class="form-group">
                        <label class="control-label" for="typeahead">@OrderManagementResource.lblPassword</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block" })
                    </div>*@
                    <div class="text-center">
                        <button type="submit" style="width: 150px" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

